<!DOCTYPE html>
  <body>
    <element name="gf2-problem-set" constructor="ProblemSetComponent" extends="div">
      <template>
        <div>
           <span id="problemset-previous-section">Previous Section</span>
           <span id="problemset-next-section">Next Section</span>
        </div>
        <div id="problem-set-container">
          <content>
          </content>
        </div>
      </template>
      <script type="application/dart" src="script.dart"></script>
    </element> 
  </body>
</html>
