<element name="gf2-login" constructor="LoginComponent" extends="div">
  <template>
    <span id="login-message"></span>
    <label for="login-email">email</label>
    <input type="text" name="email" id="login-email" >
    <label for="login-password">password</label>
    <input type="password" name="password" id="login-password" >
    <button on-click="onLoginClick($event)" id="login-submisubmit">submit</button>
  </template>
  
  <script type="application/dart" src="script.dart"></script>
</element>
